* {
  box-sizing: border-box;
}

body {
  background-color: cornsilk;
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

header {
  padding: 40px;
  text-align: center;
  background: forestgreen;
  color: #fff;
  font-size: x-large;
}

.container {
    text-align: center;
}

#bpmDisplay {
    font-size: 2em;
    margin-bottom: 10px;
}

#slider {
    width: 300px;
}